<div class="header-card card"
     [style.opacity]="opacity"
     [style.transform]="'translateY(' + translateY + 'px)'">

  <div class="avatar-wrap">
    <img src="https://avatars.githubusercontent.com/u/26819418?v=4" alt="Axel Guzmán"/>
    <div class="avatar-ring"></div>
  </div>

  <div class="name-block">
    <h1><span class="hi">Axel</span><span class="hi2"> Guzmán</span></h1>
    <div class="role-row">
      <div class="socials">
      <span class="role">Cloud &nbsp;|&nbsp; DevOps</span>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="meta">
    <div class="meta-item">
      <label>Email</label>
      <div class="val">
        <a href="mailto:axelguzmandev@gmail.com">axelguzmandev&#64;gmail.com</a>
      </div>
    </div>
    <div class="meta-item">
      <label>Ubicación</label>
      <div class="val">
        Argentina
      </div>
    </div>
  </div>

</div>